{% extends 'base.html' %}

{% block content %}
<a href="{% url 'create_new_category' %}"><button>Add new category</button></a>
<br>
{% for category in categories %}
    {{category}}
    <br>
{% endfor %}


{% endblock %}