{% extends 'base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'create_equipment' %}"><button>Add new Equipments</button></a>
    <br>
    {% for equipment in equipments %}
        name:{{equipment.equipment_name}}
        <br>

        {% if equipment.brand %}
            brand:{{equipment.brand}}
            <br>
        {% endif %}

        available stock:{{equipment.available_stock}}
        <br>
        total stock:{{equipment.total_stock}}
        <br>
        <a href="{% url 'update_equipment' equipment.id %}"><button>Update</button></a>
        <hr>
    {% endfor %}

{% endblock %}