
{% extends 'base.html' %}
{% load static %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {{field.label}}:
    {{field}}
    <input type="submit" value="Show History">
    {% endfor %}
</form>
{% if roll_no %}
<h3>Roll No: {{roll_no}}</h3> 
{% endif %}
<a href="{% url 'issue_items' profile_id %}"><button>Issue New Items</button></a>

{% if issued_equipments %}
        <h2>Issued Items(Not Returned Yet)</h2>
        {% for issued_equipment in issued_equipments %}
            item:{{issued_equipment.item}}
            <br>
            quantity:{{issued_equipment.quantity}}
            <br>
            issued date:{{issued_equipment.issued_date}}
            <br>
            tentative return date:{{issued_equipment.tentative_return_date}}
            <a href="{% url 'return-item' issued_equipment.id %}"> <button id="return-btn" >Return</button> </a>
            <hr>
            
        {% endfor %}

{% endif %}
<br>

{% if returned_equipments %}
<h2>Returned Items</h2>
    {% for equipment in returned_equipments %}
        item:{{equipment.item}}
        <br>
        issued date:{{equipment.issued_date}}
        <br>
        returned Date:{{equipment.actual_return_date}}
        <hr>
    {% endfor %}

{% endif %}

{% endblock %}

