{% extends 'base.html' %}
{% load static %}
{% block content %}

    issue items page
    {{profile}}

    <button hx-get="{% url 'add_item_form' %}" hx-swap="beforeend" hx-target="#add_item_form">add item</button>

    <div id="add_item_form">
        {% for item in items %}
            {% include 'lending/partials/detail_add_item.html' %}
        {% endfor %}
    </div>
   <!-- <form action="" method="POST">
        {% csrf_token %}
        {{formset.management_form}}
        {{formset.as_p}}
        <input type="submit">
    </form>  --> 
{% endblock %}