{% extends 'base.html' %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
lend items

<form action="" method="POST" id="form-container">
    {% csrf_token %}
    
    {{formset.management_form}}
    {% for form in formset %}
        <div class="lend-form" style="display:none;">
            {{form.as_p}}
            <hr>
        </div>
        
    {% endfor %}
    <button id="add-form" type="button">Add Another lend</button>
    <input type="submit" class="formset-submit-btn">
    
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select-item').select2();
    });
</script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha512-5+FrEmSijjxRArJWeLcCIEgoQYAgU0gSa9MgNMN+tVSS+MPZsEk9a7OkPZr7AzjNJng1Kl+tXOQVtJcsU+Ax0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
    $(document).ready(function(){
        $('.select-item').select2();
    })
</script>
-->

<script>
    let lendForm = document.querySelectorAll(".lend-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formset_submit = document.querySelector(".formset-submit-btn")

    
    let formNum = lendForm.length-1
    console.log(formNum);
    let current_active=0;
    lendForm[0].style.display='block';
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()
        if(current_active<=formNum){
            current_active=current_active+1;
            let newForm = lendForm[current_active]
            newForm.style.display='block';
        }        
    }

    



</script>
{% endblock %}