{% extends 'base.html' %}
{% load static %}
{% block content %}

<form action="" method="POST" id="return-form">
    {% csrf_token %}
    {% for field in form %}
        <label for="">{{field.label}}:</label>
        {{field}}
    {% endfor %}
    <input type="submit" name="submit" id="submit">
    <hr>  
</form>
<h4>Links to Other pages</h4>
<a href="{% url 'equipments_list' %}">equipments_list</a>
<br>
<a href="{% url 'unreturned_items' %}">Unreturned Items</a>
<br>
<a href="{% url 'categories' %}">categories</a>
<br>

{% endblock %}

