{% extends 'base.html' %}

{% block content %}

    {% for item in unreturned %}
    {% if item.is_returned %}
    <div>
    {% else %}
    <div style="background-color: lightpink;">
    {% endif %}
    
        Issued By:{{item.issued_by}}
        <br>
        Item:{{item.item}}
        <br>
        Quantity:{{item.quantity}}
        <br>
        Issued Date:{{item.issued_date}}
        <br>
        Tentative Return Date:{{item.tentative_return_date}}
        {% if item.is_returned %}
        <br>
            Returned Date:{{item.actual_return_date}}
            
        {% endif %}
        <br>
        Days Delayed:{{item.day_difference}}
    </div>
        
        

        <hr>
    {% endfor %}

{% endblock %}